body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: rgb(64, 109, 184);
	background: linear-gradient(
		90deg,
		rgba(64, 109, 184, 1) 0%,
		rgba(101, 51, 214, 1) 100%
	);
	height: 100vh;
}

.quote_container {
	display: flex;
	justify-content: center;
	align-items: center;
    flex-direction:column;
	width: 400px;
	height: 300px;
	background-color: white;
}

.quote {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70%;
	margin: auto;
	font-family: 'Satisfy', cursive;
	font-size: 20px;
}
#bouton {
	padding: 10px;
	margin-top: 5px;
	width: 400px;
	background: rgb(238, 122, 11);
	background: linear-gradient(
		90deg,
		rgba(238, 122, 11, 0.8830627837738434) 0%,
		rgba(246, 178, 81, 1) 100%
	);
	border: 1px solid rgb(238, 122, 11);
	color: white;
	font-weight: 600;
}

.trait_gris{
    margin:10px;
    background-color: grey;
    width:100px;
    height: 10px;
}

.auteur{
    font-size: 20px;
    margin: 10px;
}